<% include ./partials/header %>

<p class="secret">
	This is the secret page; or so I've been told by... noone...
</p>
<p class="secret">
	The power is within, but you must materialize into a hammer...boom!
</p>
<img src="http://cdn1.ntv.com.tr/gorsel/saglik/kafa-travmalari-hormonlari-bozuyor/kafa-travmalari-hormonlari-bozuyor,HepkPOpnzECifL5FGo1LKQ.jpg"
 alt="">
 
<a href="/login" class="btn btn-info">Login</a>
<a href="/logout" class="btn btn-danger">Logout</a>
<a href="/signup" class="btn btn-warning">Signup</a>
 
<% include ./partials/footer %>