<% include ./partials/header %>

<h1>Homepage!!!</h1>

<a href="/login" class="btn btn-info">Login</a>
<a href="/logout" class="btn btn-danger">Logout</a>
<a href="/signup" class="btn btn-warning">Signup</a>

<% include ./partials/footer %>