<% include ./partials/header %>

<h2>Login</h2>

<form action="/login" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<button type="submit" class="btn btn-info">Login</button>
</form>

<a href="/login" class="btn btn-info">Login</a>
<a href="/logout" class="btn btn-danger">Logout</a>
<a href="/signup" class="btn btn-warning">Signup</a>

<% include ./partials/footer %>